body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  background-color: #077ac2;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  font-weight: 600;
  padding: 11px 16px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
input:not([type="checkbox"]) {
  all: unset;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.card-heading {
  color: #000;
  font-size: 22px;
  font-weight: 500;
}
.card-company-name {
  color: #848484;
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0;
}
/* Navbar Styles */
.navbar-main-div {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px 0;
}
.navbar-main-div img {
  width: 150px;
}
.navbar-buttons-div button:not(:last-child) {
  margin-right: 20px;
}
.navbar-buttons-div button:last-child {
  border-radius: 10px;
  background: #fff;
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
/* Navbar Styles */
/* Homescreen */
.back-btn {
  color: #0a4a70;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 28px;
}
.banner-box {
  height: 310px;
  object-fit: contain;
  position: relative;
}
.banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-text h1 {
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  color: white;
  margin-bottom: 20px;
}
.search-field-div {
  border-radius: 16px;
  border: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 4.68966px 4.68966px 4.68966px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.379310607910156px);
  padding: 3px 3px;
  display: flex;
  align-items: center;
}
.search-field-div input {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 400;
  width: 350px;
  text-align: start;
}
.search-field-div img {
  width: 22px;
  height: 100%;
  margin: 0 28px 0 28px;
}
.search-field-div button {
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 22px;
}
.icons-main-div {
  padding: 45px 0;
}
.icons-main-comp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons-main-comp img {
  max-width: 65px;
  margin-bottom: 16px;
}
.icons-main-comp p {
  color: #000;
  font-family: "Hind Vadodara", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 16px;
}
.job-cards {
  margin-bottom: 60px;
}
.home-jobcard-main {
  padding: 40px 40px;
  border-radius: 34px;
  background: #f5f5f5;
}
.home-jobcard-main h4 {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.home-jobcard-main h6 {
  color: #848484;
  font-size: 16px;
  font-weight: 500;
  margin: 17px 0 24px 0;
}
.home-jobcard-sub {
  padding: 12px 12px;
  border-radius: 20px;
  background: #fff;
}
.price-time {
  background-color: #e5e5e5;
  padding: 6px 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 8px;
}
.price-time span {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
}
.jobcard-sub-content {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}
.hiring-status span {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 500;
}
.posted-date {
  display: flex;
  align-items: center;
}
.posted-date span {
  color: #848484;
  font-size: 12px;
  font-weight: 500;
  margin: 0px 3px;
}
.icon-hiring {
  margin-right: 2px;
}
.service-banner-main {
  background: #eaeaea;
}
.service-banner-div {
  padding: 46px 0;
  position: relative;
  object-fit: contain;
}
.service-banner-div img {
  border-radius: 30px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.38) 0%,
    rgba(10, 9, 9, 0) 81.96%
  );
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.banner-text-2 {
  position: absolute;
  top: 30%;
  left: 10%;
}
.banner-text-2 p {
  color: #e0ad2a;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-text-2 h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 33px;
}
.banner-text-2 button {
  border-radius: 14px;
  border: 2px solid #fff;
  background: none;
  padding: 7px 24px;
}
.why-seclob-main {
  background-color: #f3f3f3;
  padding: 39px 0 45px 0;
}
.sub-heading {
  color: #0f3f54;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}
.why-seclob-main p {
  color: #878787;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.why-seclob-icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-seclob-icon-text img {
  width: 65px;
  margin-bottom: 16px;
}
.footer-links {
  padding: 50px 0;
  color: #b6b6b6;
  font-size: 15px;
  font-weight: 500;
}
.footer-links ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links ul {
  display: flex;
  justify-content: space-between;
}
.footer-services {
  color: #3f3f3f;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 50px;
}
.footer-service-icons-main {
  display: flex;
  align-items: start;
  margin-bottom: 50px;
}
.footer-service-icons-main img {
  margin-right: 14px;
  width: 40px;
}
.footer-service-text h6 {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.footer-service-text p {
  color: #848484;
  font-size: 12px;
  font-weight: 400;
}
.footer-ending-texts p {
  color: #727272;
  font-size: 14px;
  font-weight: 500;
}
.footer-end-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-end-icons p {
  color: #7e7e7e;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 50px;
}
.social-icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.social-icons span {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.logo-bw {
  margin: 50px 0;
  width: 180px;
}
.footer-end {
  background: #9c9b9b;
  padding: 20px 0;
  margin-top: 50px;
  text-align: center;
  color: white;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}
/* Homescreen */

/* Single job screen */
.job-title {
  max-width: 580px;
}
.job-title h1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
}
.job-title p {
  color: #a1a1a1;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.job-title div {
  border-radius: 12px;
  background: var(--077-ac-2, #077ac2);
  display: inline-block;
  padding: 8px 18px;
  color: white;
}
.single-job-image {
  width: 100%;
  border-radius: 20px;
}
.job-description {
  margin-top: 20px;
}
.job-description h6 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.job-description ul {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 500;
}
.pay-apply-btn {
  background: #f9f9f9;
  padding: 20px 0px;
}
.pay-amnt {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #d8d8d8;
  padding: 13px;
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 20px;
  font-weight: 600;
}
.apply-btn {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* Single job screen */
/* Recent job card */
.recent-jobs-main {
  padding: 18px;
  border-radius: 12px;
  margin-top: 10px;
}
.recent-jobs-main h4 {
  font-size: 18px;
}
.recent-jobs-main .jobcard-sub-content {
  margin-bottom: 0;
}
/* Recent job card */
/* Form div */
.form-div {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 15px;
}
.form-items h4 {
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 26px;
}
.form-labels-inputs input {
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #fff;
  padding: 10px;
  font-size: 10px;
  margin-bottom: 10px;
}
.form-labels-inputs label {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
.file-upload-input {
  background: #fff;
  padding: 20px;
}
/* Form div */
/* Applied jobs page */
.banner-text-applied {
  right: 0;
  left: auto;
}
.application-history h3 {
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 28px;
  font-weight: 500;
  margin: 40px 0;
}
.application-history u {
  margin-top: 5px !important;
}
/* Application history component */
.app-history-comp-main {
  border-radius: 20px;
  background: #f5f5f5;
  padding: 35px;
  margin-bottom: 18px;
}
.applied-ago {
  color: #848484;
  font-size: 12px;
  font-weight: 500;
}
.delete-icon {
  width: 19px;
  margin-left: 8px;
}
.application-status-btn {
  width: 100%;
  border-radius: 12px;
  border: 1px solid var(--0-a-4-a-70, #0a4a70);
  background: none;
  color: #0a4a70;
  text-shadow: none;
  margin-bottom: 20px;
}
.application-edit-btn {
  width: 100%;
  color: #5f5f5f;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background: #d9d9d9;
  text-shadow: none;
}
/* Application history component */
/* Applied jobs page */
/* Profile screen */
.welcome-to-banner {
  color: #fff;
  text-align: right;
  font-size: 26px;
  font-weight: 500;
}
.seclob-jobs-banner {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}
.profile-screen-box input {
  border-radius: 10px;
  border: 1px solid #979797;
  background: #fff;
  padding: 10px 5px;
  width: 100%;
}
.profile-screen-box label {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
.left-input {
  padding-right: 55px;
}
.right-input {
  padding-left: 45px;
}
.inner-left-input {
  margin-right: 65px;
}
.inner-right-input {
  margin-right: 55px;
}
.work-status-selector {
  width: 102%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #979797;
  appearance: none;
  background-image: url("../public/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 1.2rem top 50%;
  background-size: 0.8rem auto;
}

.custom-file-input {
  position: relative;
  /* width: 200px;
  margin: 20px; */
  border-radius: 10px;
  border: 1px solid #979797;
  width: 100%;
  padding: 14px 5px;
}
.custom-file-label {
  display: inline-block;
  padding-left: 10px;
  color: #8c8c8c;
  font-weight: 500;
}
.custom-file-label:after {
  content: "Choose File";
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border-radius: 15px;
  background: var(--0-a-4-a-70, #0a4a70);
  padding: 8px;
  cursor: pointer;
}
.custom-file-label:hover:after {
  background-color: #0056b3;
}
.right-input h3 {
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 32px;
  font-weight: 600;
}
.right-input p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}
.left-input p {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-checkbox-visual {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border-radius: 5px;
  border: 1px solid #bcbcbc;
  background: #e4e4e4;
}
.custom-checkbox-visual:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-checkbox input:checked ~ .custom-checkbox-visual:after {
  display: block;
}
.custom-checkbox input:checked ~ .custom-checkbox-visual {
  border: 1px solid #7c7979;
}
.custom-checkbox input:checked ~ .custom-checkbox-visual:after {
  content: "\2713";
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  left: 2px;
}
.form-location-div {
  border-radius: 26px;
  background: #d9d9d9;
  padding: 8px;
  margin-right: 10px;
  font-size: 12px;
}
.Profile-apply-btn {
  background: #077ac2;
  color: white;
  padding: 12px 22px;
  margin: 22px 0;
}
/* Profile screen */
/* Apply screen */
.apply-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.apply-screen-box {
  background: #f3f3f3;
  padding: 20px;
  border-radius: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.apply-screen-box h4 {
  color: var(--0-a-4-a-70, #0a4a70);
  font-size: 20px;
  font-weight: 600;
}
.custom-file-input-applyscreen {
  width: auto;
  background: white;
  border-radius: 16px;
  border: 1px solid #cfcfcf;
  margin-top: 20px;
}
.applyscren-btn {
  margin: 0;
  width: 100px;
}
.applied-candidates-btn {
  width: 60%;
  border-radius: 10px;
  background: var(--077-ac-2, #077ac2);
  text-shadow: none;
  margin-bottom: 20px;
}
.application-edit-btn {
  width: 60%;
}
.applied-candidate-count {
  padding: 15px;
  background: #c8c8c8;
  border-radius: 30px;
  margin: -8px;
  z-index: 1;
  position: absolute;
  color: #0f3f54;
  font-size: 21px;
  font-weight: 600;
}
/* Apply screen */
